<h1> <a href="/">Foodies</a></h1>

{{#if loggedIn}}

  <ul>
    <form action="/user/log-out" method="post">
      <li><a href="/">Home</a></li>
      <li><a href="/recipes/create">Create recipe</a></li>
      <li><a href="/recipes/my-recipes">My recipes</a></li>
      <li><a href="/reviews/my-reviews">My reviews</a></li>
      <li><a href="/reviews/create">Create review</a></li>
      <li><input type="submit" value="Log out" /></li>
    </form>
  </ul>

{{else}}

{{/if}}