<ul>
    <form action="/log-out" method="post"></form>
    <li><a href="/">Home</a></li>
    <li><a href="/recipes/create">Create recipe</a></li>
    <li><a href="/recipes/my-recipes-list">My recipes</a></li>
    <li><a href="/reviews/my-reviews-list">My reviews</a></li>
    <li><input type="submit" value="Log out"></li>
    </form>
</ul>