<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Recipe App</title>
    <link rel="stylesheet" href="/css/main.css" />
  </head>
  <body>
   <div class="wrapper-desktop">
    {{>header}}
<<<<<<< HEAD
     <div class="wrapper-mobile">
       
    <h1>Foodies</h1>
=======
    
>>>>>>> a43b2774913a1c94fdcc2dacd9847f7c60ae1ae5
    {{{body}}}
  </div> 
  </div>
  </body>
 
</html>