{{#if loggedIn}}
  <p>Welcome {{username}}</p>
  <form action="/log-out" method="post">
    <input type="submit" value="log out" /></form>

{{else}}

  <h2>Log in to your account</h2>

  <form action="/" method="post">
    <input type="text" name="username" placeholder="Username" />
    <input type="password" name="password" placeholder="Password" />
    <input type="submit" value="Log in" />
  </form>
  <a href="/register">Register account</a>

{{/if}}