<h2>Register new user</h2>

<form action="/register" method="post">
  <input type="text" name="registerFirstname" placeholder="First name" />
  <input type="text" name="registerLastname" placeholder="Surname " />
  <input type="text" name="registerEmail" placeholder="Email" />
  <input type="text" name="registerUsername" placeholder="Username" />
  <input type="password" name="registerPassword" placeholder="Password" />
  <input
    type="password"
    name="registerConfirm"
    placeholder="Confirm password"
  />
  <input type="submit" value="Register" />
</form>