<div class="register-wrapper">
  <a href="/" class="logo"><img src="/images/logo.png" alt="" /></a>

  <h2>Register new user</h2>

  <form action="/user/register" method="post" class="register-form">
    <input
      type="text"
      name="firstname"
      value="{{validationUser.firstname}}"
      placeholder="First name"
    />
    <input type="text" name="lastname" placeholder="Surname" required />
    <input type="text" name="email" placeholder="Email" required />
    <input type="text" name="username" placeholder="Username" required />
    <input type="text" name="password" placeholder="Password" required />
    <input
      type="text"
      name="confirmPassword"
      placeholder="Confirm password"
      required
    />
    <input type="submit" value="Register" />
  </form>
  <p class="error">{{error}}</p>
</div>
{{#if user}}
  <p>{{user}} already exists</p>
{{/if}}