<h2>Register new user</h2>

<form action="/user/register" method="post">
  <input
    type="text"
    name="firstname"
    value="{{validationUser.firstname}}"
    placeholder="First name"
  />
  <input type="text" name="lastname" placeholder="Surname" required />
  <input type="text" name="email" placeholder="Email" required />
  <input type="text" name="username" placeholder="Username" required />
  <input type="password" name="password" placeholder="Password" required />
  <input
    type="password
    "
    name="confirmPassword"
    placeholder="Confirm password"
    required
  />
  <input type="submit" value="Register" />
</form>
 <p class="error">{{error}}</p>
{{#if user}}
  <p>{{user}} already exists</p>
{{/if}}