<h2>My reviews</h2>

<div class="my-reviews-container">
  {{#each myReviews}}
    <div class="each-reviews-container">
      <p>{{reviewDescription}}</p>
      <p>{{reviewDate}}</p>
      <br />
      <a href="/reviews/{{_id}}/edit">Edit</a>
      <a href="/reviews/{{_id}}/delete">Delete</a>
    </div>
  {{/each}}
</div>