<h2>Edit review</h2>

<form action="/reviews/{{_id}}/edit" method="post" class="review-form">
  <textarea
    name="reviewDescription"
    cols="30"
    rows="10"
    required
  >{{reviewDescription}}</textarea>

  <div class="wrapper">
    <input type="radio" id="st1" value="5" name="reviewStars" required />
    <label for="st1"></label>
    <input type="radio" id="st2" value="4" name="reviewStars" />
    <label for="st2"></label>
    <input type="radio" id="st3" value="3" name="reviewStars" />
    <label for="st3"></label>
    <input type="radio" id="st4" value="2" name="reviewStars" />
    <label for="st4"></label>
    <input type="radio" id="st5" value="1" name="reviewStars" />
    <label for="st5"></label>

  </div>
  <p class="error">{{error}}</p>

  <input type="submit" value="Save" />
</form>