<h2>Edit review</h2>

<form action="/reviews/{{_id}}/edit" method="post">
  <input type="text" name="reviewDescription" value="{{reviewDescription}}" />
  <span class="fa fa-star"></span>
  <span class="fa fa-star"></span>
  <span class="fa fa-star"></span>
  <span class="fa fa-star"></span>
  <span class="fa fa-star"></span><br /><br />

  <input type="submit" value="Save" />
</form>