<h2>Create new review</h2>

<div class="my-reviews-container">
  <form action="/reviews/create" method="post">
    <textarea name="reviewDescription" cols="50" rows="20">Review</textarea><br
    />
    <input type="number" name="reviewStars" />
    <input type="submit" value="Save" />
  </form>
</div>