<div class="deleteDiv">
  <div class="deleteWrapper">
    <div>
      <p>{{reviewDescription}}</p>
    </div>
    <div>
      <h4>Are you sure you wish to delete this review?</h4>
    </div>
    <form action="/reviews/{{_id}}/delete" method="post">
      <input type="submit" value="Delete" />
    </form>
  </div>
</div>