<h2>Create new review</h2>

<div class="my-reviews-container">
  <form action="/reviews/create" method="post">
    <textarea name="reviewDescription" cols="50" rows="20">Review</textarea><br
    />
    <div class="wrapper">
      <input type="checkbox" id="st1" value="1" />
      <label for="st1"></label>
      <input type="checkbox" id="st2" value="2" />
      <label for="st2"></label>
      <input type="checkbox" id="st3" value="3" />
      <label for="st3"></label>
      <input type="checkbox" id="st4" value="4" />
      <label for="st4"></label>
      <input type="checkbox" id="st5" value="5" />
      <label for="st5"></label>
    </div>
    <input type="submit" value="Save" />
  </form>
</div>