<h2>{{singleRecipe.recipeTitle}} </h2>
<p>{{singleRecipe.recipeTime}}</p>
<p>{{singleRecipe.recipeDescription}}</p>

<h2>Review this recipe!</h2>

<div class="my-reviews-container">
  <form action="/recipes/{{singleRecipe._id}}/reviews" method="post">
    <textarea name="reviewDescription" cols="50" rows="20">Review</textarea><br
    />
    <input type="number" name="reviewStars" />
    <input type="submit" value="Save" />
  </form>
</div>