<h2>Create new recipe</h2>
<p>All recipes are for 4 people</p>
<p class="error">{{error}}</p>
<div class="my-recipes-container">
  <form action="/recipes/create" method="post" enctype="multipart/form-data">
    <input type="text" name="recipeTitle" placeholder="Title" />
    <input type="number" name="recipeTime" placeholder="Cooking time" /><br
    /><br />
    <textarea name="recipeDescription" cols="50" rows="20">Recipe description</textarea><br
    />
    <fieldset>
      <label for="image">Recipe image</label><br />
      <input type="file" name="image" id="image" />
    </fieldset><br />
    <input type="submit" value="Save" />
  </form>
</div>