<h2>Create new recipe</h2>
<p>All recipes are for 4 people</p>

<div class="my-recipes-container">
<form action="/recipes/create" method="post" enctype="multipart/form-data">
    <input type="text" name="recipeTitle" placeholder="Title"> 
    <input type="number" name="recipeTime" placeholder="Cooking time - min"><br><br>
    <textarea name="recipeDescription" cols="50" rows="20" placeholder="Recipe description"></textarea><br><br>
    <fieldset>
        <label for="image">Racipe image</label><br><br>
        <input type="file" name="image" id="image">
    </fieldset><br>
    <p class="error">{{error}}</p>
    <input type="submit" value="Save">
</form>
</div>