.login-form {
  //background: url("/images/Foodtable.jpg") no-repeat;
  background-size: auto;
  background-position: left center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}
