@mixin menudesktop{


 .wrapper-desktop {
        display: flex;
        flex-direction: row;
        float: right;
        width: 100%;
    }
.header{
width: 250px;
min-height: 100vh;
background: #659B5E;
img{
    width: 170px;
}
.logo{
    display: block;
    padding: 20px;   
    font-size: 1.5em;
    text-align: center; 
    text-decoration: none;
    color: #272d2d;
}
.profile-picture{
    width: 150px;
    height: 150px;
    background-color:rgba(224, 219, 219, 0.384);
    border-radius: 50%;
    margin: 0 auto;
    margin-bottom: 30px;
    margin-top: 30px;
}
p {
    text-align: center;
}
    .menu-desktop {
        visibility: visible;
        margin: 0;
        padding: 0;
        list-style: none;
        overflow: hidden;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 20px;
        input{
            border:none;
            background-color: transparent;
            font-size: 1em;
            width: 160px;
            cursor: pointer;
            text-align: left;
            font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        }
        a{
            color: black;
            font-size: 1em;
            display: block;
            padding: 10px;
            text-decoration: none;
            background: #db9e44;
            margin: 20;
            width: 160px;
            border-radius: 15px;
            box-shadow: 2px 2px 2px 0px #00000063;        
        }
    }
}
.header .menu-desktop a:hover{
    box-shadow: 2px 2px 2px 2px #00000063;
    cursor: pointer;  
}
.header .menu-desktop form li:last-child:hover{
    box-shadow: 2px 2px 2px 2px #00000063;  
    cursor: pointer;
}

.header .menu-desktop form li:last-child {
    margin-left: 20px;
    display: block;
            padding: 10px;
            text-decoration: none;
            background: #bd8532;
            margin: 20;
            width: 160px;
            border-radius: 15px;
            box-shadow: 2px 2px 2px 0px #00000063; 
            cursor: pointer;
    }
  
}
  .wrapper-mobile {
        width: 80%;
        margin: auto;
    }
