.single-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;

  h3 {
    text-align: left;
  }

  .single-recipe-container {
    display: flex;
    flex-direction: column;
    width: 80vw;
    overflow: hidden;
    border-radius: 25px;
    background-color: rgba(240, 239, 239, 0.952);
    padding: 20px;
    margin-top: 20px;

    .single {
      margin-bottom: 5px;
      text-align: left;
    }
  }

  .review-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 20px;

    input[type="submit"] {
      background-color: rgb(248, 162, 3);
      border-color: black;
      border-style: none;
      border-radius: 0.2em;
      padding: 5px;
    }
    input[type="submit"]:hover {
      background-color: rgb(231, 155, 14);
    }
    textarea {
      outline: none;
      width: 80vw;
      height: 200px;
    }
  }

  .flex-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    gap: 25px;

    .all-reviews-wrapper {
      width: 80vw;
      height: auto;
      padding: 10px;
      overflow: hidden;
      border-radius: 25px;
      background-color: rgba(240, 239, 239, 0.952);
    }
  }
}
@media screen and(min-width: 768px) {
  .single-recipe-container {
    max-width: 700px;
  }
  .review-wrapper textarea {
    max-width: 735px;
  }
  .all-reviews-wrapper {
    max-width: 700px;
  }
}
