@import "hamburger";
@import "menudesktop";
@import "stars";
@import "myRecipes";
@import "loginpage";
@import "registerpage";
@import "editReview";
@import "recipeSingle";
@import "myReviews";
@import "deleteConfirm";
* {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

body {
  @include hamburger;
  @include myRecipes;
  @include myReviews;
  margin: 0 auto;
  h2 {
    text-align: center;
  }
  .four-people-text {
    text-align: center;
  }
}
.menu-desktop {
  visibility: hidden;
}

.wrapper-mobile {
  .not-found-container {
    margin-top: 200px;
    .not-found-page {
      color: red;
      text-align: center;
      // margin-top: 100px;
    }
  }
}

// Create recipe
.create-title {
  width: 210px;
}

.create-minutes {
  width: 140px;
}

@media screen and(min-width: 768px) {
}

@media screen and(min-width: 1024px) {
  body {
    @include menudesktop;
  }
  .my-recipes-container {
    padding: 0px;
    margin: 20px;
  }
}
